body {
	background-color: #e9e9e9;
}
.topbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #111; /*#333*/
	position: fixed;
        top: 0;
        width: 100%;
}
li {
	float: left;
}
li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}
li a:hover {
	background-color: #333;
} 
#profPic {
	width: 95%;
}
#information {
	background-color: #13aff0;
	width: 100%;
}
.sidenavr {
    	height: 100%;
    	width: 0;
    	position: fixed;
    	z-index: 1;
    	top: 0;
    	right: 0;
    	background-color: #e9e9e9;
    	overflow-x: hidden;
    	transition: 0.5s;
    	padding-top: 40px;
	padding-left: 10px;
}

.sidenavr a {
    	padding: 8px 8px 8px 32px;
    	text-decoration: none;
    	font-size: 25px;
    	color: #818181;
    	display: block;
    	transition: 0.3s;
}

.sidenavr a:hover {
    	color: #f1f1f1;
}

.sidenavr .closebtn {
    	position: absolute;
    	top: 0;
    	right: 25px;
    	font-size: 36px;
    	margin-left: 50px;
}
.sidenavl {
    	height: 100%;
    	width: 0;
    	position: fixed;
    	z-index: 1;
    	top: 0;
    	background-color: #e9e9e9;
    	overflow-x: hidden;
    	transition: 0.5s;
    	padding-top: 40px;
	padding-left: 10px;
	color: white;
}

.sidenavl a {
    	padding: 8px 8px 8px 32px;
    	text-decoration: none;
    	font-size: 25px;
    	color: #818181;
    	display: block;
    	transition: 0.3s;
}

.sidenavl a:hover {
    	color: #f1f1f1;
}

.sidenavl .closebtn {
    	position: absolute;
    	top: 0;
    	right: 25px;
    	font-size: 36px;
    	margin-left: 50px;
}
@media screen and (max-height: 450px) {
  	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 18px;}
}
